@{
    ViewBag.Title = "Contact";
}
<br />
<div class="container">
    <div class="row">
        <!--Contact Form-->
        <div class="col-md-8">
            <div class="well well-sm">
                <form class="form-horizontal" action="" method="post">
                    <fieldset>
                        <legend class="text-center">Contact Us</legend>

                        <!-- Name field-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Name</label>
                            <div class="col-md-9">
                                <input id="name" name="name" type="text" placeholder="Name" class="form-control" required>
                            </div>
                        </div>

                        <!-- Email field-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="mobile">Mobile</label>
                            <div class="col-md-9">
                                <input id="mobile" name="mobile" type="text" placeholder="Mobile" class="form-control" required>
                            </div>
                        </div>

                        <!-- Mobile field-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Email</label>
                            <div class="col-md-9">
                                <input id="email" name="email" type="text" placeholder="Email" class="form-control" required>
                            </div>
                        </div>

                        <!-- Message field -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="message">Message</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5" required></textarea>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <!--Contact Information-->
        <div class="col-md-4">
            <h2>Pureco Inc. Contacts</h2>
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong><a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong><a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
</div>