<!--Display Image Slider-->
<div class="well">
    <h3>Display Image to Slider</h3>
    @Html.Partial("_DisplayImageSlider")
</div>

<br />

<!--Add Image to Slider-->
<div class="well">
    <h3>Add Image to Slider</h3>
    @Html.Partial("_AddImageSlider")
</div>

<br />

<!--Delete Image from Slider-->
<div class="well">
    <h3>Delete Image from Slider</h3>
    @Html.Partial("_DeleteImageSlider")
</div>