<!--Display News Slider-->
<div class="well">
    <h3>Display News to Slider</h3>
    @Html.Partial("_DisplayNewsSlider")
</div>

<br />

<!--Add News to Slider-->
<div class="well">
    <h3>Add News to Slider</h3>
    @Html.Partial("_AddNewsSlider")
</div>

<br />

<!--Delete News from Slider-->
<div class="well">
    <h3>Delete News from Slider</h3>
    @Html.Partial("_DeleteNewsSlider")
</div>