@{
    ViewBag.Title = "Admin Home Page";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--Slider Management-->
<div class="container well">
    <h2>Slider Management</h2>
    @Html.Partial("Slider")
</div>

<br />

<!--About Text Management-->
<div class="container well">
    <h2>About Text Management</h2>
</div>

<br />

<!--Product Showcase Management-->
<div class="container well">
    <h2>Product Showcase Management</h2>
</div>

<br />

<!--Footer Management-->
<div class="container well">
    <h2>Footer Management</h2>
</div>