@{
    ViewBag.Title = "Admin Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--Image Slider-->
<div class="container well">
    <h2>Slider Management</h2>
    @Html.Partial("_ImageSlider")
</div>

<br />

<!--Company Text-->
<div class="container well">
    <h2>About Text Management</h2>
    @Html.Partial("_CompanyText")
</div>

<br />

<!--Product Showcase-->
<div class="container well">
    <h2>Product Showcase Management</h2>
    @Html.Partial("_ProductShowcase")
</div>

<br />

<!--Footer-->
<div class="container well">
    <h2>Footer Management</h2>
    @Html.Partial("_Footer")
</div>