@{
    ViewBag.Title = "Admin Newsletter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--Newsletter User List-->
<div class="container well">
    <h2>Newsletter User List</h2>
    @Html.Partial("_NewsletterUserList")
</div>

<br />

<!--Send Newsletter-->
<div class="container well">
    <h2>Send Newsletter</h2>
    @Html.Partial("_SendNewsletter")
</div>